[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/fmatsos/cecil-papermod.git
	branch = main
[submodule "pages/posts"]
	path = pages/posts
	url = https://github.com/fmatsos/articles.git
	branch = main
