[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

[[edge_functions]]
  function = "bots"
  path = "/*"

[[headers]]
  for = "/_astro/*"
  [headers.values]
    cache-control = "public, max-age=604800, immutable"

[[headers]]
  for = "/images/*"
  [headers.values]
    cache-control = "public, max-age=604800, immutable"
