{% set photos = [
    {
        asset: 'images/photo-coffee-on-a-table.jpg',
        alt: 'Tasse de café sur une table'|trans
    },
    {
        asset: 'images/photo-person-coding-on-a-laptop.jpg',
        alt: 'Personne développant sur un ordinateur portable'|trans
    },
    {
        asset: 'images/photo-person-filling-papers.jpg',
        alt: 'Personne remplissant des papiers'|trans
    },
    {
        asset: 'images/photo-people-practising-aikido.jpg',
        alt: 'Personnes pratiquant de l\'Aïkido'|trans
    },
    {
        asset: 'images/photo-stack-of-books.jpg',
        alt: 'Une pile de livre'|trans
    }
] %}

<div class="mt-16 hidden md:block">
    <div class="-my-4 flex justify-center gap-5 overflow-hidden py-4 sm:gap-8">
        {% for photo in photos %}
            <div class="{% if loop.index is odd %}photo-odd{% else %}photo-even{% endif %}">
                {{ asset(photo.asset)|html(attributes={alt: photo.alt, class: 'absolute inset-0 h-full w-full object-cover', loading: 'lazy'}, options={responsive: true, formats: ['webp']}) }}
            </div>
        {% endfor %}
    </div>
</div>
